Thumbs.db
.DS_Store
.idea
.vscode
.README.md

.reasonix
.deveco
.mimocode
.trae
.trae-cn
.cursor
.claude
.codex
.catpaw
.workbuddy

tmp
bin
dist

node_modules
target

docs/build
docs/.docusaurus
*.log
