Thumbs.db
.DS_Store
.idea
.vscode
.README.md

.reasonix
.deveco
.mimocode
.trae
.trae-cn
.cursor
.claude
.codex
.catpaw
.workbuddy
.workbuddy-ai

tmp
bin
dist
tests

nogit/tests
outputs
nogit/tmp-*

node_modules
target

docs/build
docs/.docusaurus
*.log
