Thumbs.db
.DS_Store
.idea
.vscode
.README.md

.reasonix
.deveco
.mimocode
.trae
.cursor
.claude
.codex
.catpaw

tmp
bin
dist

node_modules
target

vscode-nolang/server/lsp
vscode-nolang/server/lsp.exe
src/no
/src/no_lang
/no
/nolang
/nolang-lsp
docs/build
docs/.docusaurus
*.log
